.LoginView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.LogInForm {
    display: flex;
    flex-direction: column;
}

.RegisterForm {
    display: flex;
    flex-direction: column;
}
